@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora&display=swap');

html {
  font-family: 'Open Sans', sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 100px;
  -moz-osx-font-smoothing: grayscale;
}

li{
  text-decoration: none;
}
a{
  text-decoration: none;
 
}

a:hover{
  font-weight: 700;
  color: #2EC4B6 !important;
}

main, footer{
  padding-top: 45px;
  margin-left: 245px;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}


.what-is, .code {
  width: 95%;
  text-align: justify;
  margin: 0 auto;
  padding-top: 40px;
}

.color-items{
  display: flex;
  justify-content:  center;
  margin-top: 50px;
  width: 100%;
}

.colors {
  border-radius: 2px;
  width: 200px;
  height: 200px;
  margin: 10px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} 
  .first .hide {
    display: none;
  }

 
  hide:hover{ 
    display: block;
  }
    

.one {
  background: #181F25;
  
}


.two {
  background: #444C5B;
}

.three {
  background: #E2844A;
}

.four {
  background: #4A90E2;
}


.regular-buttons {
  margin: 50px auto 10px auto;
  width: 70%;
  display: flex;
  justify-content: center;
  
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  width: 120px;
  height: 30px;
  border-radius: 3px;
  margin: 25px;
}
.regular-btn {
  border-color:#E2844A;
  color: #fff;
  background: #E2844A;
}

.regular-btn:active {
  outline: none;
  box-shadow: none;
  background-color: white;
  background: #DD7A3D;
}

.inactive-btn {
  border-color: #E2844A;
  color: #E2844A;
  background: #fff;
}

.inactive-btn:hover {
  border-color: #E2844A;
  color: #fff;
  background: #E2844A;
}

.inactive-btn:active {
  background: #DD7A3D;
}

.disabled-btn {
  border-color: #7E869E;
  color: #7E869E;
  background: #CDCFD6;
  
}

section {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  padding-top: 10px;
}

.rules li {
  margin: 15px 0px;
  margin: 0 auto;
  
}

.example li{
  margin: 5px;
}
  


.codebox {
        border-radius: 3px;
        font-size: 14px;
        background-color:#2E282A;
        white-space: pre-line;
        color: #2EC4B6;
        padding:10px;
        width: 700px;
        height: 100%;
        overflow: wrap;
        display: inline-block;
}



.textbox {
  border-radius: 3px;
  border: 1px solid #ADDDFA;
  background: #EAF6FD;
  font-family: 'Lora', serif;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
}

.textbox-lower{
  border-radius: 3px;
  border: 1px solid #ADDDFA;
  background: #EAF6FD;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
  margin-top: 40px;
}


.notice{
  margin-top: 40px;
}

.find-info a{
  color: #2EC4B6;
  text-decoration: none;
}

.sidebar {
  position: fixed;
        background: #022F40;
        height: 100%;
        width: 240px;
}

.sidebar ul{
  list-style: none;
      margin-left: 15px;
      margin-top: 75px;
}

.sidebar ul li {
  margin-bottom: 25px;
}

.sidebar ul li a{
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}

.alert {
  height: 90px;
  width: 600px;
}

@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100%;
    height: 50px;
    bottom: 0;
  }

  .sidebar ul{
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin-top: 0;
    font-size: 12px;
    text-align: center;
    margin-left: 0;
  }

  .sidebar ul li {
    line-height: 50px;
  }

  .sidebar .site-title{
    display: none;
  }

  .mini-foot{
    display: none;
  }

  main {
    margin: 0 auto;
  }

  .alert {
    width: 90%;
    height: 100%;
    padding-bottom: 10px;
  }

  .regular-buttons {
    width: 100%;}

    .codebox{
      width: 95%;
    }
}

